@media (max-width: 767px) {
	.intro {
		height: auto;
		.intro-content {
			h1 {
				font-size: 36px;
				line-height: 1.3em;
			}
			p {
				font-size: 19px;
			    line-height: 1.5em;
			    padding-top: 20px;
			}
		}
	}
	footer {
		.row {
			display: block;
		}
		.text-center {
			text-align: left;
			margin: 20px 0;
		}
		.pull-right {
			float: left!important;
		}
	}
    .portfolio-screen-wrapper {
    	height: auto!important;
    }
    .portfolio-row {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;

        .portfolio-screen-wrapper {
	        -webkit-box-ordinal-group: 2;
	        -moz-box-ordinal-group: 2;
	        box-ordinal-group: 2;
	    }
    }
    .portfolio .portfolio-row.portfolio-nonImage .portfolio-desc {
	    min-height: auto;
    }
    .portfolio .portfolio-row.portfolio-nonImage .technologies ul {
    	min-height: auto;
    }
}